@charset "UTF-8";
body {
  font-family: '微软雅黑';
}

.headerFirst {
  width: 100%;
  background: #f6f6f6;
  padding-left: -15px;
  padding-right: -15px;
  padding: 6px 0;
}

.headerFirst .detail {
  width: 83.33333%;
  margin: 0 auto;
}

.headerFirst .ewm {
  position: relative;
}

.headerFirst .ewm .wx,
.headerFirst .ewm .pho {
  display: inline-block;
  position: relative;
}

.headerFirst .ewm .wx {
  width: 18px;
  height: 18px;
  background: url("../../assets/images/zz71/wx.png") no-repeat;
  background-size: 18px 18px;
}

.headerFirst .ewm .pho {
  width: 19px;
  height: 18px;
  background: url("../../assets/images/zz71/pho.png") no-repeat;
  background-size: 19px 18px;
}

.headerFirst .ewm .wx:hover {
  background: url("../../assets/images/zz71/wx2.png") no-repeat;
}

.headerFirst .ewm .pho:hover {
  background: url("../../assets/images/zz71/phos.png") no-repeat;
}

.headerFirst .ewm .delv,
.headerFirst .ewm .xian,
.headerFirst .ewm .zhuce,
.headerFirst .ewm .wx,
.headerFirst .ewm .pho,
.headerFirst .ewm .phos {
  float: right;
  color: #a5a5a5;
  text-decoration: none;
}

.headerFirst .ewm .xian {
  padding-left: 6px;
  padding-right: 6px;
}

.headerFirst .ewm .wx {
  margin-left: 10px;
  margin-right: 10px;
}

.headerFirst .ewm .phos {
  margin-left: 10px;
}

.headerFirst .shows {
  padding: 10px 10px 0 10px;
  display: none;
  position: absolute;
  top: 20px;
  left: 120px;
  border: 1px solid #EEEFEE;
  background: #FFFFFF;
}

.headerFirst .shows img {
  width: 100px;
  height: 100px;
}

.headerFirst .shows a {
  float: left;
  text-decoration: none;
  text-align: center;
}

.headerFirst .shows a img {
  margin: 5px;
}

.headerFirst .shows .arrow {
  border-bottom-color: #EEEFEE;
  border-bottom-color: #eeefee;
}

.search {
  width: 83.33333%;
  margin: 39px auto 0 auto;
}

.search .btn-default:hover {
  color: #FFFFFF;
  background-color: #377EF5;
  border-color: #377EF5;
}

.input-lgs,
.btn-lgs {
  height: 40px;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 40px;
  border-color: #66afe9;
}

.btn-lgs {
  background: #66afe9;
  font-size: 14px;
  color: #FFFFFF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.logos {
  font-family: "黑体";
  font-size: 14px;
}

.logos img,
.logos .intre {
  float: left;
}

.logos p {
  margin: 0;
  padding: 0;
}

.logos .intre {
  margin-left: 10px;
  margin-top: 8px;
}

.logos .intre span {
  letter-spacing: 4.3px;
  display: inline-block;
  overflow: hidden;
}

.searchs {
  position: relative;
}

.searchs p {
  margin-top: 24px;
  padding-left: 18px;
  color: #d4d3d3;
}

.searchs .serHistory {
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in;
  position: absolute;
  width: 80%;
  margin-left: 15px;
  top: 50px;
  background: #FFFFFF;
}

.searchs .serHistory li {
  width: 100%;
  list-style-type: none;
}

.searchs .serHistory li a {
  display: inline-block;
  width: 100%;
  margin: 0 -20px 0 -40px;
  padding: 5px 0px 5px 30px;
}

.searchs .serHistory li a:hover {
  background: #f6f6f6;
}

.searchs .serHistory li .right {
  float: right;
  color: #d4d3d3;
}

.searchs .serHistory li .left {
  color: #000000;
  transition: all 0.5s ease-in;
}

.searchs .serHistory li:hover {
  background: #f6f6f6;
}

.searchs .serHistory li:hover .left {
  color: #21b1ff;
}

.searchs .serHistory a {
  text-decoration: none;
}

#rank--bg {
  position: absolute;
  z-index: 1;
  top: -2.32rem;
  left: -21.34%;
  width: 142.68%;
  height: 4.68rem;
  border-radius: 40%;
  background: linear-gradient(360deg, #ffb900 0%, #ff8300 100%);
}

.navNext {
  width: 100%;
  height: 200px;
  background: #FFFFFF;
}

footer {
  background: #2E2E2E;
  padding-top: 30px;
}

.about {
  width: 83.33333%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
}

.about h6 {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.about h5 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  font-weight: 600;
}

.about p {
  color: rgba(255, 255, 255, 0.6);
}

.about .aline {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.about img {
  margin-top: 10px;
  width: 119px;
  height: 119px;
  padding: 10px;
  background: #383838;
}

.about .phone {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
}

.about ul {
  margin-left: -40px;
}

.about ul li {
  list-style-type: none;
  padding-bottom: 6px;
  margin-right: 28px;
}

.about ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.about .fd li {
  float: left;
}

.about .lianxi {
  margin-left: -15px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}

.about .xcx {
  margin-left: 19px;
}

.about h6 {
  font-weight: 600;
}

.foot {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #252525;
}

.foot a {
  text-decoration: none;
  color: #999999;
  font-size: 13px;
}

#ljr_zk img {
  width: 15px;
  height: 15px;
  position: relative;
}

.guidance {
  font-size: 15px;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
  width: 83.33333%;
  margin: 0 auto;
}

.guidance p,
.guidance ul {
  float: left;
  margin-bottom: 0;
}

.guidance p li,
.guidance ul li {
  float: left;
  list-style: none;
}

.guidance ul {
  margin-left: -10px;
}

.guidance p {
  background: #377EF5;
  padding: 12px 0;
  width: 13.4%;
  text-align: center;
}

.guidance p a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
}

.guidance li a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 30px 12px 0;
  color: #a5a5a5;
}

.guidance li .actives {
  color: #00a8ff;
}

.guidance li a:hover {
  color: #00a8ff;
  transition: all 0.3s ease-in;
}

/*竖立导航*/
#myCarousel {
  overflow: hidden;
}

.navigation {
  width: 83.33333%;
  height: 100%;
  overflow: hidden;
  left: 8.33333%;
  background: rgba(225, 255, 255, 0);
  position: absolute;
  top: 0;
  z-index: 1;
}

.navigation .navLeft,
.navigation .navRight {
  float: left;
}

.navigation .navLeft {
  width: 13.4%;
  height: 100%;
  background: rgba(56, 126, 245, 0.3);
}

.navigation .navLeft a {
  width: 100%;
  padding: 10% 0;
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #FFFFFF;
}

.navigation .navLeft a:hover {
  color: #e74c3c;
  background: rgba(245, 245, 245, 0.6);
  transition: all 0.3s ease-in;
}

.navigation .navLeft .active {
  color: #e74c3c;
  background: rgba(245, 245, 245, 0.6);
  transition: all 0.3s ease-in;
}

.navigation .navRight {
  width: 86.6%;
  height: 100%;
}

.navigation .navRight .show1 {
  border: 1px solid rgba(14, 8, 8, 0.2);
  width: 100%;
  height: 100%;
  background: url(../../assets/images/zz71/navigation.png) bottom left no-repeat #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.navigation .navRight .show1 ul {
  margin-left: -40px;
}

.navigation .navRight .show1 li {
  list-style: none;
}

.navigation .navRight .show1 dd,
.navigation .navRight .show1 dt {
  float: left;
}

.navigation .navRight .show1 dt {
  width: 14%;
  background: url(../../assets/images/zz71/this_right.png) center right no-repeat;
}

.navigation .navRight .show1 dt a {
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
  font-weight: 400;
}

.navigation .navRight .show1 dd {
  width: 86%;
}

.navigation .navRight .show1 dd a {
  padding: 15px 20px;
  display: inline-block;
}

.navigation .navRight .show1 dd a:hover {
  color: #e74c3c;
  background: rgba(245, 245, 245, 0.6);
  transition: all 0.3s ease-in;
}

.navigation .navRight .show1 dd .active {
  color: #e74c3c;
  background: rgba(245, 245, 245, 0.6);
  transition: all 0.3s ease-in;
}

.navigation .navRight .show1 a {
  color: #333;
  text-decoration: none;
}

.navigation .navRight .show2 {
  width: 100%;
  height: 100%;
}

.navigation .navRight .show2 .left,
.navigation .navRight .show2 .right {
  float: left;
}

.navigation .navRight .show2 .left {
  border-top: 1px solid rgba(14, 8, 8, 0.2);
  border-bottom: 1px solid rgba(14, 8, 8, 0.2);
  width: 18%;
  height: 100%;
  background: url(../../assets/images/zz71/navigation.png) bottom left no-repeat #fff;
}

.navigation .navRight .show2 .left a {
  width: 100%;
  padding: 10% 0;
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #333;
}

.navigation .navRight .show2 .left a:hover {
  color: #e74c3c;
  background: rgba(245, 245, 245, 0.6);
  transition: all 0.3s ease-in;
}

.navigation .navRight .show2 .left .active {
  color: #e74c3c;
  background: rgba(245, 245, 245, 0.6);
  transition: all 0.3s ease-in;
}

.navigation .navRight .show2 .right {
  width: 82%;
  height: 100%;
  border-top: 1px solid rgba(14, 8, 8, 0.2);
  border-bottom: 1px solid rgba(14, 8, 8, 0.2);
  border-right: 1px solid rgba(14, 8, 8, 0.2);
  background: url(../../assets/images/zz71/navigation.png) bottom left no-repeat #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.navigation .navRight .show2 .right a {
  padding: 15px 20px;
  text-decoration: none;
  display: inline-block;
  color: #333;
}

.navigation .navRight .show2 .right a:hover {
  color: #e74c3c;
  background: rgba(245, 245, 245, 0.6);
  transition: all 0.3s ease-in;
}
