@charset "UTF-8";
body {
  font-family: '微软雅黑';
}

.headerFirst {
  width: 100%;
  background: #f6f6f6;
  padding-left: -15px;
  padding-right: -15px;
  padding: 6px 0;
}

.headerFirst .detail {
  width: 83.33333%;
  margin: 0 auto;
}

.headerFirst .ewm {
  position: relative;
}

.headerFirst .ewm .wx, .headerFirst .ewm .pho {
  display: inline-block;
  position: relative;
}

.headerFirst .ewm .wx {
  width: 18px;
  height: 18px;
  background: url("../../assets/images/zz71/wx.png") no-repeat;
  background-size: 18px 18px;
}

.headerFirst .ewm .pho {
  width: 19px;
  height: 18px;
  background: url("../../assets/images/zz71/pho.png") no-repeat;
  background-size: 19px 18px;
}

.headerFirst .ewm .delv, .headerFirst .ewm .xian, .headerFirst .ewm .zhuce, .headerFirst .ewm .wx, .headerFirst .ewm .pho, .headerFirst .ewm .phos {
  float: right;
}

.headerFirst .ewm .xian {
  padding-left: 6px;
  padding-right: 6px;
}

.headerFirst .shows {
  display: none;
  position: absolute;
}

.headerFirst .shows img {
  width: 100px;
  height: 100px;
}

#rank--bg {
  position: absolute;
  z-index: 1;
  top: -2.32rem;
  left: -21.34%;
  width: 142.68%;
  height: 4.68rem;
  border-radius: 40%;
  background: linear-gradient(360deg, #ffb900 0%, #ff8300 100%);
}
