$bili:(1600/1920);
$color:rgba(255, 255, 255, 0.8);
$color2:rgba(255, 255, 255, 0.6);
$red:#FF5715;
$hover:#337ab7;
body {
    font-family: '微软雅黑';
}

.headerFirst {
    width: 100%;
    background: #f6f6f6;
    padding-left: -15px;
    padding-right: -15px;
    padding: 6px 0;
    .detail {
        width: $bili * 100%;
        margin: 0 auto;
    }
    .ewm {
        position: relative;
        .wx,
        .pho {
            display: inline-block;
            position: relative;
            // top:3px;
        }
        .wx {
            width: 18px;
            height: 18px;
            background: url('../../assets/images/zz71/wx.png') no-repeat;
            background-size: 18px 18px;
        }
        .pho {
            width: 19px;
            height: 18px;
            background: url('../../assets/images/zz71/pho.png') no-repeat;
            background-size: 19px 18px;
        }
        .wx:hover {
            background: url('../../assets/images/zz71/wx2.png') no-repeat;
        }
        .pho:hover {
            background: url('../../assets/images/zz71/phos.png') no-repeat;
        }
        .delv,
        .xian,
        .zhuce,
        .wx,
        .pho,
        .phos {
            float: right;
            color: #a5a5a5;
            text-decoration: none;
        }
        .xian {
            padding-left: 6px;
            padding-right: 6px;
        }
        .wx {
            margin-left: 10px;
            margin-right: 10px;
        }
        .phos {
            margin-left: 10px;
        }
    }
    .shows {
        padding: 10px 10px 0 10px;
        display: none;
        position: absolute;
        top: 20px;
        left: unset;
        right: 40px;
        border: 1px solid #EEEFEE;
        background: #FFFFFF;
        img {
            width: 100px;
            height: 100px;
        }
        a {
            float: left;
            text-decoration: none;
            text-align: center;
            img {
                margin: 5px;
            }
        }
        .arrow {
            border-bottom-color: #EEEFEE;
            border-bottom-color: rgba(238, 239, 238, 1);
        }
    }
}

.search {
    width: $bili * 100%;
    margin: 39px auto 0 auto;
    .btn-default:hover {
        color: #FFFFFF;
        background-color: #377EF5;
        border-color: #377EF5;
    }
}

.input-lgs,
.btn-lgs {
    height: 40px;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 40px;
    border-color: #66afe9;
}

.btn-lgs {
    background: #66afe9;
    font-size: 14px;
    color: #FFFFFF;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.logos {
    img,
    .intre {
        float: left;
        color: #000000;
    }
    font-family:"黑体";
    font-size: 14px;
    p {
        margin: 0;
        padding: 0;
    }
    .intre {
        margin-left: 10px;
        margin-top: 8px;
        span {
            // text-indent: 2px;
            letter-spacing: 4.3px;
            display: inline-block;
            overflow: hidden;
        }
    }
}

.searchs {
    // margin-top: 10px;
    position: relative;
    p {
        margin-top: 14px;
        padding-bottom: 10px;
        padding-left: 18px;
        color: #d4d3d3;
    }
    .serHistory {
        display: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: all 0.5s ease-in;
        position: absolute;
        width: 80%;
        margin-left: 15px;
        top: 50px;
        background: #FFFFFF;
        z-index: 50;
        li {
            width: 100%;
            a {
                display: inline-block;
                width: 100%;
                margin: 0 -20px 0 -40px;
                padding: 5px 0px 5px 30px;
            }
            a:hover {
                background: #f6f6f6;
            }
            list-style-type: none;
            .right {
                float: right;
                // padding-right: 40px;
                color: #d4d3d3;
            }
            .left {
                color: #000000;
                transition: all 0.5s ease-in;
            }
        }
        li:hover {
            background: #f6f6f6;
            .left {
                color: #21b1ff;
            }
        }
        a {
            text-decoration: none;
        }
    }
}

#rank--bg {
    position: absolute;
    z-index: 1;
    top: -2.32rem;
    left: -21.34%;
    width: 142.68%;
    height: 4.68rem;
    border-radius: 40%;
    background: linear-gradient(360deg, rgba(255, 185, 0, 1) 0%, rgba(255, 131, 0, 1) 100%);
}

.navNext {
    width: 100%;
    height: 200px;
    background: #FFFFFF;
}

footer {
    background: #2E2E2E;
    padding-top: 30px;
}

.about {
    h6 {
        color: $color;
        margin-bottom: 20px;
    }
    h5 {
        color: $color;
        font-size: 12px;
        font-weight: 600;
    }
    p {
        color: $color2;
    }
    .aline {
        text-decoration: none;
        color: $color2;
    }
    width: $bili * 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    img {
        margin-top: 10px;
        width: 119px;
        height: 119px;
        padding: 10px;
        background: #383838;
    }
    .phone {
        color: $color;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 24px;
    }
    ul {
        margin-left: -40px;
        li {
            list-style-type: none;
            padding-bottom: 6px;
            margin-right: 28px;
            a {
                font-size: 12px;
                color: $color2;
            }
        }
    }
    .fd {
        li {
            float: left;
        }
    }
    .lianxi {
        margin-left: -15px;
        font-size: 12px;
        color: $color;
    }
    .xcx {
        margin-left: 19px;
    }
    h6 {
        font-weight: 600;
    }
}

.foot {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #252525;
    a {
        text-decoration: none;
        color: #999999;
        font-size: 13px;
    }
}

#ljr_zk img {
    width: 15px;
    height: 15px;
    position: relative;
}

.guidance {
    font-size: 15px;
    font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
    width: $bili * 100%;
    margin: 0 auto;
    p,
    ul {
        float: left;
        margin-bottom: 0;
        li {
            float: left;
            list-style: none;
        }
    }
    ul {
        margin-left: -10px;
    }
    p {
        background: #377EF5;
        padding: 12px 0;
        width: 13.4%;
        text-align: center;
        a {
            color: #FFFFFF;
            text-decoration: none;
            font-size: 16px;
        }
    }
    li {
        a {
            display: inline-block;
            text-decoration: none;
            padding: 12px 30px 12px 0;
            color: #a5a5a5;
        }
        .actives {
            color: #00a8ff;
        }
        a:hover {
            color: #00a8ff;
            transition: all 0.3s ease-in;
        }
    }
}


/*竖立导航*/

#myCarousel {
    overflow: hidden;
}

.navigation {
    width: $bili * 100%;
    height: 100%;
    overflow: hidden;
    left: (1-$bili)/2 * 100%;
    background: rgba(225, 255, 255, 0);
    position: absolute;
    top: 0;
    z-index: 1;
    .navLeft,
    .navRight {
        float: left;
    }
    .navLeft {
        width: 13.4%;
        height: 100%;
        background: rgba(56, 126, 245, 0.3);
    }
    .navLeft a {
        width: 100%;
        height: 10%;
        display: table;
        text-decoration: none;
        color: #FFFFFF;
    }
    .navLeft a span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        /*设置文本水平居中*/
        width: 100%;
    }
    .navLeft a:hover {
        color: #e74c3c;
        background: rgba(245, 245, 245, 0.6);
        transition: all 0.3s ease-in;
    }
    .navLeft .active {
        color: #e74c3c;
        background: rgba(245, 245, 245, 0.6);
        transition: all 0.3s ease-in;
    }
    .navRight {
        width: 86.6%;
        height: 100%;
        .show1 {
            border: 1px solid rgba(14, 8, 8, 0.2);
            width: 100%;
            height: 100%;
            background: url(../../assets/images/zz71/navigation.png) bottom left no-repeat #fff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            ul {
                margin-left: -40px;
            }
            li {
                list-style: none;
            }
            dd,
            dt {
                float: left;
            }
            dt {
                width: 14%;
                background: url(../../assets/images/zz71/this_right.png) center right no-repeat;
                a {
                    display: inline-block;
                    padding: 15px 20px;
                    text-align: center;
                    font-weight: 400;
                }
            }
            dd {
                width: 86%;
                a {
                    padding: 15px 20px;
                    display: inline-block;
                }
                a:hover {
                    color: #e74c3c;
                    background: rgba(245, 245, 245, 0.6);
                    transition: all 0.3s ease-in;
                }
                .active {
                    color: #e74c3c;
                    background: rgba(245, 245, 245, 0.6);
                    transition: all 0.3s ease-in;
                }
            }
            a {
                color: #333;
                text-decoration: none;
            }
        }
        .show2 {
            width: 100%;
            height: 100%;
            .left,
            .right {
                float: left;
            }
            .left {
                border-top: 1px solid rgba(14, 8, 8, 0.2);
                border-bottom: 1px solid rgba(14, 8, 8, 0.2);
                width: 18%;
                height: 100%;
                background: url(../../assets/images/zz71/navigation.png) bottom left no-repeat #fff;
                a {
                    width: 100%;
                    padding: 10% 0;
                    display: block;
                    text-align: center;
                    vertical-align: middle;
                    text-decoration: none;
                    color: #333;
                }
                a:hover {
                    color: #e74c3c;
                    background: rgba(245, 245, 245, 0.6);
                    transition: all 0.3s ease-in;
                }
                .active {
                    color: #e74c3c;
                    background: rgba(245, 245, 245, 0.6);
                    transition: all 0.3s ease-in;
                }
            }
            .right {
                width: 82%;
                height: 100%;
                border-top: 1px solid rgba(14, 8, 8, 0.2);
                border-bottom: 1px solid rgba(14, 8, 8, 0.2);
                border-right: 1px solid rgba(14, 8, 8, 0.2);
                background: url(../../assets/images/zz71/navigation.png) bottom left no-repeat #fff;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
                a {
                    padding: 15px 20px;
                    text-decoration: none;
                    display: inline-block;
                    color: #333;
                }
                a:hover {
                    color: #e74c3c;
                    background: rgba(245, 245, 245, 0.6);
                    transition: all 0.3s ease-in;
                }
            }
        }
    }
}